# ====== Proteus  ====== #
PR_URL = 'https://10.10.10.10'
PR_USER = 'proteus-user'
PR_PWD = 'proteus-pass'

# ====== Log settings ==================== #
SKIP_HTTPS_ERR = True
LOGFILE = 'migration.log'
STDOUT = True  # print to STDOUT
DEBUG = True  # write debug log
DEBUG_LOG = 'debug.log'
AUTO_ADD_IPS = False

# ====== Device42 upload settings ========= #
D42_URL = 'https://10.10.10.11'
D42_USER = 'd42-user'
D42_PWD = 'd42-pass'
